﻿@model Task25.Models.ArticleDetailsViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<article>
    <div>
        <h1>
            @Model.Article.Header
        </h1>
    </div>
    <div>
        <p>
            @Model.Article.Content
        </p>
    </div>
    <p>
        @Model.Article.Date
    </p>
</article>


