﻿@model IEnumerable<Task25.Models.Article>

@using Task25.Content
@{
    ViewBag.Title = "Home";
}
@{
    string result = String.Empty;
    foreach (var article in Model)
    {
        string preview = "";
        if (article.Content.Length > 200)
        {
            preview = article.Content.Substring(0, 200);
        }
        else
        {
            preview = article.Content;
        }

        <article>
            <div>
                <h1>
                    @article.Header
                </h1>
            </div>
            <div>
                <p>
                    @preview
                    <a onclick="location.href='@Url.Action("Details", "Home",article)'">... Read more</a>
                </p>
            </div>
            <p>
                @article.Date
            </p>
        </article>
    }
}